<map class="map" data-map></map>

<div class="map-year-control">
    <label for="year-control">Jaar</label>
    <input class="year-control-input" type="range" min="2009" max="2014" value="2009" step="1" data-year-control>
    <output class="year-control-value" for="year-control" data-year-control-value>2009</output>
</div>
