.map {
    display: block;
    width: 100%;
    height: 75vh;
}

.map path {
    stroke: #d8d8d8;
    stroke-opacity: 0.5;
}

.map path:hover {
  fill: #04b1c8;
  fill-opacity: .7;
}

.onverhard {
    fill: #00bd28;
}

.semiVerhard {
    fill: #ade17a;
}

.verhard {
    fill: #545454;
}

.water {
    fill: #00b1d5;
}

.leaflet-data-layer {
    opacity: 0.75;
}

.leaflet-data-layer.hide {
    opacity: 0;
}
