<map class="map" data-map></map>

<label for="year-control">Jaar</label>
<input type="range" min="2009" max="2014" value="2009" step="1" data-year-control>
<output for="year-control" data-year-control-value>2009</output>
