.verharding-header {
  width: 100%;
  background-image: url('/assets/images/verharding-header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10% 0 10% 0;
}

.verharding-header img {
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
}

.verharding-header p {
  width: 60%;
  color: white;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.6;
}

.verharding-divider {
  width: 100%;
  background-color: white;
  padding: 4% 0 4% 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
}

.verharding-divider span {
  color: #596E86;
  margin: 0 4% 0 4%;
  font-weight: bold;
}

.verhard-span::before {
  content: '';
  background-image: url('/assets/images/verhard-span.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  vertical-align: -45%;
}

.semiverhard-span::before{
  content: '';
  background-image: url('/assets/images/semiverhard-span.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  vertical-align: -45%;
}

.onverhard-span::before{
  content: '';
  background-image: url('/assets/images/onverhard-span.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  vertical-align: -45%;
}

.waterschap-span::before{
  content: '';
  background-image: url('/assets/images/waterschap-span.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  vertical-align: -45%;
}
