<main class="verharding">
	<div class="verharding-header">
		<img src="/assets/images/verharding-header-icon.png">
		<p>Hieronder zie je een kaart van Amsterdam. Op deze kaart wordt de balans tussen verharding en groen aangegeven. Je kan door de jaren heen kijken om te zien of er in jouw buurt veel verharding is bij gekomen of dat er juist meer groen gecreëerd is.</p>
	</div>
	<div class="map">
		<!-- {{> map}} -->
	</div>
	<div class="verharding-divider">
		<span class="verhard-span">Verhard</span>
		<span class="semiverhard-span">Semi verhard</span>
		<span class="onverhard-span">Onverhard</span>
		<span class="waterschap-span">Waterschap</span>
	</div>
</main>