<main class="project">
	<div class="project-container-img">
		<h1>Bart's geveltuintje, </br> door de buurt voor de buurt</h1>
		<span class="project-subtext">Bart wil samen met jouw een geveltuintje realiseren voor de buurt.
			Door het bouwen van dit geveltuintje zal de buurt een stukje meer Rainproof worden.
		</span>
		<span class="project-video-button" data-project-video-button>Bekijk video</span>

		<iframe src="https://player.vimeo.com/video/151783837" class="project-video project-video-hide" project-video></iframe>
	</div>

	<div class="project-container-info">

		<div class="project-info-intro">
			<h1>Hoe werkt het?</h1>
			<p>
				Bart heeft een project gestart waardoor jullie wijk een stuk beter beschermd zal zijn tegen de regen. Door aandacht te vragen voor de overmatige regenval, iets wat de buurt (nog) niet aan kan, wilt hij in actie komen. Bart wilt samen met de buurt geld inzamelen om de buurt Rainproof te maken doormiddel van geveltuintjes.
				Steun Bart maar vooral jouzelf & de buurt om de aankomende jaren droge voeten te houden.
			</p>
		</div>
		<div class="project-info-usp">
			<div class="project-usp-container">
				<img src="/assets/images/usp1.png">
				<h2>Aandacht vragen</h2>
				<p>Door aandacht te vragen in de buurt komen mensen bij elkaar om samen het project te realiseren.</p>
			</div>
			<div class="project-usp-container">
				<img src="/assets/images/usp2.png">
				<h2>Geld inzamelen</h2>
				<p>Doordat de buurt geld inzameld, is het mogelijk om het project te financieren.</p>
			</div>
			<div class="project-usp-container">
				<img src="/assets/images/usp3.png">
				<h2>Project bouwen</h2>
				<p>Nadat er genoeg geld is ingezameld zal het project van start gaan</p>
			</div>
		</div>
	</div>
	<div class="project-quote">
		<div class="project-quote-img">
			<img src="/assets/images/bart.png">
		</div>
		<div class="project-quote-text">
			<h1>Wat zegt Bart</h1>
			<p>“Wij moeten nu in actie komen, voodat wij met natte voeten gaan lopen. Als een persoon dit project moet realiseren kost het veel tijd en geld. Dit is een goed project om samen met de buurt op te zetten, aangezien iedereen er gebruik van kan maken en de voordelen er van bevind.”
			</p>
		</div>
	</div>
	<div class="project-donations">
		<h1>Wie hebben er al gedoneerd?</h1>
		<div class="project-donaters-container">
			<div class="donater-container">
				<img src="/assets/images/donater1.png" class="donater-img">
				<span class="donater-name">
					Joris Bolhuis
				</span>
				<span class="donater-quote">
					"Het is voor een goed doel"
				</span>
			</div>
			<div class="donater-container">
				<img src="/assets/images/donater2.png" class="donater-img">
				<span class="donater-name">
					Peter Vis
				</span>
				<span class="donater-quote">
					"Samen maken we onze toekomst"
				</span>
			</div>
			<div class="donater-container">
				<img src="/assets/images/donater3.png" class="donater-img">
				<span class="donater-name">
					Nadine Boom
				</span>
				<span class="donater-quote">
					“Ik vind het super dat op zo’n gemakkelijke manier de buurt iets kan organiseren!”
				</span>
			</div>
		</div>
	</div>
	<div class="project-footer">
		<div class="footer-text-container">
			<h1>Steun nu ook!</h1>
			<p>Werk samen met Bart en jouw buurt om de wijk een stuk meer Rainproof te maken!</p>
			<a href="">Steun vandaag!</a>
		</div>
	</div>
</main>
