<main class="home">
	<div class="home-text">
		<h1>
			Bart introduceerd jullie eerste geveltuintje
			voor een rainproof buurt.
		</h1>
		<a href="">
			Ontdek waarom!
		</a>
	</div>
	<div class="home-subtext">
		<img src="/assets/images/home-icon.png">
		<span>
			Door verharding in Amsterdam verdwijnt er steeds meer groen, dit wordt ingeruild 
			voor wegen en gebouwen. Door verharding in jouw buurt kan regen op steeds 
			minder plaatsen weglopen, waardoor het langer blijft liggen en schade veroorzaakt.
		</span>	
	</div>
</main>