<main class="home">
	<div class="home-text">
		<h1>
			Bart introduceerd jullie eerste geveltuintje
			voor een rainproof buurt.
		</h1>
		<p>
			Ontdek waarom!
		</p>
	</div>
	<div class="home-subtext home-text-hide">
		<img src="/assets/images/home-icon.png">
		<span>
			Steeds meer stad is verhard met gebouwen, asfalt en betegelde tuinen. De druppels blijven op het oppervlak en gaan niet de bodem in. De sponswerking van Amsterdam, het tijdelijk kunnen opnemen van het gevallen water en het langzaam weer afgeven, vermindert. De riolen zijn niet geschikt voor extreem grote hoeveelheden regen af te voeren.
		</span>
		<a href="/verharding.html">
			Bekijk de verharding
		</a>
	</div>
</main>
