<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#00a7d1">
  <link rel="stylesheet" href="/css/main.css">

  <!-- D3 dependencies -->
  <script src="/js/d3.min.js"></script>

  <!-- Leaflet dependencies -->
  <script src="/js/leaflet.js"></script>
  <link rel="stylesheet" href="/css/leaflet.css">

  <script src="/js/main.js" defer></script>
  <title>Rainproof index</title>
</head>
