<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#00a7d1">
  <link rel="stylesheet" href="/css/main.css">

  <!-- D3 dependencies -->
  <script src="/js/d3/d3.min.js"></script>

  <!-- Mapbox dependencies -->
  <script src='/js/mapbox.js/mapbox.js'></script>
  <link href='/js/mapbox.js/mapbox.css' rel='stylesheet'>

  <script src="/js/main.js" defer></script>
  <title>Rainproof index</title>
</head>
