<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#00a7d1">
  <link rel="stylesheet" href="/css/main.css">

  <!-- jQuery dependencies -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>

  <!-- D3 dependencies -->
  <script src="/js/d3.min.js"></script>

  <!-- Leaflet dependencies -->
  <!-- <script src="/js/leaflet.js"></script>
  <link rel="stylesheet" href="/css/leaflet.css"> -->
  <script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet'>

  <script src="/js/main.js" defer></script>
  <title>Rainproof index</title>
</head>
